<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_iiwa">
    <!-- |iiwa| -->
    <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
    <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro"/>    
    <!-- |UR5| -->
    <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
    <xacro:ur5_robot prefix="ur5_" joint_limited="false"/>
    <!-- |Baxter| -->
    <xacro:include filename="$(find baxter_description)/urdf/baxter.urdf.xacro"/>
   
    
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="robot_name" default="iiwa"/>
    <xacro:arg name="origin_xyz" default="0 0 0"/>
    <xacro:arg name="origin_rpy" default="0 0 0"/>
    <link name="world"/>
    <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
        <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)"/>
    </xacro:iiwa7>

    <joint name="world_joint_ur" type="fixed">
        <parent link="world"/>
        <child link="ur5_base_link"/>
        <origin xyz="1.0 1.0 0" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="world_joint_baxter" type="fixed">
        <parent link="world"/>
        <child link="Baxter_base"/>
        <origin xyz="-1.5 1.5 0.7" rpy="0.0 0.0 0.0"/>
    </joint>



</robot>
