<launch>
    <arg name="ur5_iiwa_baxter" default="$(find xacro)/xacro --inorder '$(find multi_robot)/urdf/ur5_iiwa_baxter.urdf.xacro'"/>
    <param name="robot_description" command="$(arg ur5_iiwa_baxter)"/>
      <!--设置GUI参数，显示关节控制-->
    <param name="use_gui" value="true"/>

    <!--运行joint_state_publisher节点,发布机器人的关节状态-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!--运行robot_state_publisher节点,发布TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <!--运行rviz可视化界面-->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot)cfg/ur5_iiwa.rviz" required="true"/>  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot)cfg/ur5_iiwa_baxter.rviz" required="true"/> 
</launch>
